<footer class="page-footer docs-footer white">
  <div class="container">
    <div class="row center">
      <div class="col s6">
        <a href="community">Join the community!</a>
      </div>
      <div class="col s6">
        <a href="https://twitter.com/CompHumResearch">Follow us on Twitter!</a>
      </div>
    </div>
  </div>
  <div class="footer-copyright white">
    <div class="container">
      <p class="center-align">© 2019, Computational Humanities Research</p>
    </div>
  </div>
</footer>
