@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Fira Code", Monaco, Menlo, Consolas, monospace;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    min-height: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    background-color: #fff;
}

nav ul a, nav .brand-logo, nav .material-icons, footer a, footer p {
    color: #383d43;
}

nav ul a, nav, footer {
    font-size: 90%;
}

.page-border {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bg--white {
    flex: 1 0 auto;
}

main {
    flex: 1 1 auto;
}

a, .url {
    transition: color .3s ease;
    text-decoration: none;
    color: #4c83ff;
}

a:hover {
    color: #2afadf;
}

nav ul a {
    transition: color .3s ease;
}

nav ul a:hover {
    background-color: transparent;
}

::-moz-selection {
    color: #4c83ff
}

::selection {
    color: #4c83ff;
}

h1, h2, h3, h4, h5, nav, footer {
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #383d43;
}

.page-border {
    padding: .8rem;
    background-color: #2afadf;
    background-image: linear-gradient(135deg, #2afadf 10%, #4c83ff 100%);
}

nav .brand-logo {
    font-weight: 500;
    font-size: 3.1rem;
    line-height: 70px;
}

img {
    padding: .8rem;
    margin: .4rem;
    max-width: 30%;
    height:auto;    
    background-color: #2afadf;
    background-image: linear-gradient(135deg, #2afadf 10%, #4c83ff 100%);
}

div.imgitem {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.caption {
    margin: .4rem;
    display: block;
}

.brand-logo {
    background: linear-gradient(135deg, #2afadf 10%, #4c83ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (min-width:40em) {
    html {
        font-size: 17px;
    }
    .page-border {
        padding: 2rem
    }
}

.bg--white {
    background-color: #fff;
}

h1 {
    font-size: 320%;
    font-weight: 600;
}

h2 {
    font-size: 250%;
    font-weight: 600;
}

h3 {
    font-size: 140%;
}

h4 {
    font-size: 120%;
}

.content {
    color: #383d43;
}

.interested {
    font-size: 80%;
}

.footer-copyright p {
    font-size: 80%;
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 60%;
    }
}

@media screen and (max-width: 767px) {
    html {
        font-size: 15px;
    }
    h1 {
        font-size: 2rem;
        margin-top: -25px;
    }
    h2 {
        font-size: 2rem;
    }

    img {
        padding: .4rem;
    }
}
