{{ define "main" }}

<script>
  function activate_tooltip() {
      console.log("activating!");
       $(".tooltipped").tooltip();
  };
</script>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h2 class="header center">{{.Title}}</h2>
    </div>
</div>

<div class="container">
  <div class="section content">

    <div class="row">
      <div class="searchpapers col s12">
        <div class="input-field">
          <i class="material-icons-outlined prefix">search</i>
          <input type="text" class="bibtex_search" id="searchbar">
          <label for="searchbar">Search...</label>
        </div>
      </div>
    </div>
      
    <div class="bibtex_structure" style="display: none;">
      <div class='sort author' extra="ASC string">
        <div class="templates"></div>
      </div>
    </div>

    <div class="bibtex_template" style="display: none;">
      <div class="hide-on-small-only">
        <li class="collection-item avatar">
          <a class="url btn-flat circle" data-position="bottom">
            <i class="material-icons-outlined">picture_as_pdf</i>
          </a>
          <div class="row">
            <span class="title col s10"></span>
            <p>
              <span class="author col s10"></span></br>
            </p>
            <span class="if abstract">
              <div class="abstract-wrapper col s12">
                <div id="bib+BIBTEXKEY+abstract" class="bibtexVar" extra="BIBTEXKEY">
                  <span class="abstract"></span>
                </div>
              </div>
            </span>            
          </div>
        </li>
      </div>
    </div>

    <div class="bibtex_template" style="display: none;">
      <div class="hide-on-med-and-up">
        <li class="collection-item hide-on-med-and-up">
          <div>
            <a class="url title-a"><span class="title"></span></a>
            <p>
              <span class="author col s10"></span></br>
            </p>
          </div>
        </li>
      </div>
    </div>
    
    <ul class="collection">
      <div class="bibtex_display" callback="activate_tooltip(bibtex_display);"></div>
    </ul>
    
  </div>
</div>
{{ end }}

